@import 'tailwindcss';

@theme {
  --font-sans: 'Barlow Condensed', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'Roboto Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-primary-foreground: #000000;
  --color-secondary-foreground: #ffffff;
  --color-primary-background: #ffffff;
  --color-secondary-background: #000000;
  --color-background: #0344dc;
  --color-foreground: #ffffff;
  --color-muted: #000000;
  --color-muted-foreground: #ffffff;
}

html,
body {
  @apply bg-white dark:bg-zinc-950;

  overscroll-behavior: none;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
